.modalCatalog {
	position: absolute;
	width: 100%;
	max-height: 30rem;
	overflow: hidden;
	background-color: #f8f8f8;
	box-shadow: 0 4px 4px #00000040;
	z-index: 3;
	&__container {
		padding: 2rem 0;
		display: flex;
		gap: 2rem;
	}
	&__categories {
		li {
			font-size: 1.4rem;
			color: #242734;
			font-weight: bold;
			padding: 1rem 4rem 1rem 2rem;
			cursor: pointer;
		}
		li:hover {
			color: #de3162;
			background-color: #fff;
			border-radius: 0.4rem;
			transition: all 0.2s;
		}
	}
	&__subcategories {
		b {
			font-weight: bold;
			color: #242734;
		}
		li:hover {
			color: #de3162;
			transition: all 0.2s;
		}
		li {
			font-size: 1.4rem;
			margin-top: 1rem;
			cursor: pointer;
		}
	}
}

.modalCatalog.entering {
	height: 0px;
	transition: height 0.3s ease;
}
.modalCatalog.entered {
	height: 500px;
	transition: height 0.3s ease;
}
.modalCatalog.exiting {
	height: 0;
	transition: height 0.3s ease;
}
.modalCatalog.exited {
	height: 0;
	transition: height 0.3s ease;
}
