.gallery__img {
  max-width: 30rem;
  max-height: 30rem;
}
.image-gallery-container {
  max-width: 30rem;
  max-height: 30rem;
  margin-right: 2rem;
}

.swiper-pagination-bullet {
  background-color: #da2f58;
}